<div class="row mt-6-personalized">
  <div class="col">
    <button
      type="button"
      class="btn btn-primary float-right mb-3"
      data-toggle="modal"
      data-target="#modalProduct"
      (click)="resetForm()"
    >
      New Product
    </button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">category</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Cost</th>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            {{
              this.dataApiService.categories
                ? this.categoryFilter(product.category)
                : product.category
            }}
          </td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.cost }}$</td>
          <td>
            <button
              class="btn btn-primary"
              (click)="onPreUpdateProduct(product)"
              data-toggle="modal"
              data-target="#modalProduct"
            >
              Update
            </button>
          </td>
          <td>
            <a
              href="/list-products"
              class="btn btn-danger"
              (click)="onDeleteProduct(product.id)"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-modal></app-modal>
